.nav{
    background-color: rgb(143, 140, 120);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}



.menu-section{
    margin-bottom:3rem;
    background-color: rgb(219, 217, 207);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(143, 140, 120);
 }
 .menu-section h2{
   color:rgb(143, 140, 120);
   margin-bottom:1.5rem;
   padding-bottom:0.5;
   border-bottom:3px solid rgb(143, 140, 120);
 }

 .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }

  .menu-item h3{
    color:rgb(143, 140, 120);
    margin-bottom:0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }
 /* to be changed later*/
    .menu-item img {
        width: 80%;
        height: 150px;
        object-fit: cover;
    }

    .menu-item {
        background-color: rgb(219, 217, 207);
        padding: 1rem;
        border-radius: 8px;
        border: 2px solid rgb(143, 140, 120);
    }

     .price{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(143, 140, 120);
    margin: 1rem 0;
}
.menu-item p{
    color:rgb(143, 140, 120);
    font-size:0.95rem;
}
